@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter-sans);
  color: #4f637d;
  font-weight: 400;
}

.exodus__font {
  font-family: var(--font-exodus-sans);
}

.shadow {
  box-shadow: 0px 5px 20px rgba(108, 117, 139, 0.2);
}

.spinner {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #32abf2 94%, rgba(0, 0, 0, 0))
      top/8px 8px no-repeat,
    conic-gradient(rgba(0, 0, 0, 0) 30%, #32abf2);
  -webkit-mask: radial-gradient(
    farthest-side,
    rgba(0, 0, 0, 0) calc(100% - 8px),
    #000 0
  );
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
